<h1>Attribute Directives</h1>
<h2>ngClass / ngStyle</h2>
<!-- <div [ngClass]="{border: true, background: true}">
</div> -->

<!-- <div [class.border]="true"></div> -->
<!-- <div [class.background]="true"></div> -->

<div [ngStyle]="{'background-color': 'red'}">
</div>
<hr>
<h2>Custom Attribute Directive</h2>
<div dirHighlight [testhighlightcolor]="'yellow'" [testdefaultcolor]="'purple'">Some Text</div>
<hr>
<h1>Structural Directives</h1>
<h2>*ngIf="expression"</h2>
<div *ngIf="switchtest">
  Contitional Text
</div>
<template [ngIf]="switchtest">
  <div>
    Contitional Text
  </div>
</template>
<button (click)="onSwitchTtest()">switchtest</button>
<br>
<br><br><br>
<hr>
<h2>*ngFor="let item of list"</h2>
<div>
  <ul>
    <li *ngFor="let item of items; let i = index">{{item}}(Index:{{i}})</li>
  </ul>
</div>
<br><br><br>
<hr>
<h2>
  ngswitch
</h2>
<div [ngSwitch]="testval">
  <div *ngSwitchCase="10">10</div>
  <div *ngSwitchCase="100">100</div>
  <div *ngSwitchDefault>Default</div>
</div>

<h2>UnlessDirective</h2>
<div unlesstest="switchtest">
  Conditional Text
</div>
<br><br><br><br><br><br><br><br><br><br>
